.form-control {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  gap: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.form-control input {
  outline: none;
  font-size: 1.3rem;
}

.btn {
  width: auto;
  padding: 10px 20px;
  background-color: rgb(145, 49, 235);
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(123, 15, 224);
}

@media (min-width: 768px) {
  .btn {
    width: fit-content;
  }
}
